@keyframes color {
    0%   { background: #ff6007; }
    25%  { background: #b13615; }
    25%  { background: #b13615; }
    50%  { background: #210905; }
    50%  { background: #210905; }
    75%  { background: #b13615; }
    75%  { background: #b13615; }
    100% { background: #ff6007; }
  }

  @font-face {
    font-family: 'Books';
    src: url(Fonte/thebooks.ttf);
    
}

@font-face {
font-family: 'Glitch';
src: url(Fonte/DoctorGlitch.otf) format(opentype), url(Fonte/DoctorGlitch.ttf) format(truetype);
}

h5{
    font-family: 'Glitch';
    font-weight: 300;

}

  html{
    cursor: url('Imagens/cursor1.png'), auto;
 ;
}
html.click, html.click a, html.click a:hover, a:hover{
    cursor: url('Imagens/cursor2.png '), pointer;
}

#menu{
    margin: 0 0 0 175;
    width: 1480px;
    height: 120px;
    background: #28143E;
    color: white;
    border-radius: 5px;
    font-family: 'Glitch';
}

#audioborda{
    float: right;
    margin: 20 15 0 10;
    width: 320px;
    height: 75px;
    animation: color 12s infinite linear;
    border-radius: 100px;
}

audio{
    float: right;
    margin: 10 10 0 10;
   
    
}

h1{
    word-spacing: 10px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 0 0 280;
    font-weight: 400;
    font-size: 100;
}

#menu1{
    margin: -10 0 0 175;
    width: 1480px;
    height: 45px;
    background: black;
    color: white;
    border-radius: 5px;
    font-family: 'Books';
    font-size: 22px;
    text-align: center;
}
a{
    color: #c06500;
    font-family: 'Books';
    font-size: 22px;
}
#invisible{
    color: black;
}


#geral{
    width: 1480px;
    height: 980px;
    animation: color 12s infinite linear;
    border-radius: 5px;
    margin: 70 0 0 175 ;
}

#contents1{
    width: 440px;
    height: 840px;
    background-color: #28143E;
    border-radius: 5px;
    margin: 55 0 0 40;
    float: left;
}




img{
    margin: auto;
    display: block;
    border-radius: 5px;
}
#img1{
 width: auto;
 height: 600;
 margin: 20 auto;
}

#contents2{
    height: 840;
    width: 900;
    border-radius: 5px;
    background: #28143E;
    float: right;
    margin: 55 40 0 0;
}


h2{
    color: white;
    font-family: 'Books';
    margin: 0 50 0 50;
    text-align: justify;
    font-size: 18.5px;
    word-spacing: 5px;
    font-weight: 400;
    text-indent: 2em;
    
}

#img2{
    width: auto;
    height: 450;
    margin: 20 auto;
}


#rodape{
    width: 1480px;
    height: 40px;
    background: #28143E;
    border-radius: 5px;
    margin: -11 0 0 175 ;
    padding: 10 0 0 0;
    font-family: 'Glitch';
    color: #c06500;
    font-size: 30;
    text-align: center;
}


#geral_origem{
    width: 1480px;
    height: 1080px;
    animation: color 12s infinite linear;
    border-radius: 5px;
    margin: 70 0 0 175 ;
}

.imgbanner{
    float: inline-start;
   width: 1330px;
   height: 280;
   margin: 25 0 0 25;
}

#bannerborda{
    float: inline-start;
   width: 1380px;
   height: 330;
   margin: 30 0 0 50;
    background-color: #28143E;
    border-radius: 5px;
}

#borderimg{
    float: left;
    background-color: #28143E;
    border-radius: 5px;
    width: 380px;
    height: 630;
    margin: 50 0 0 50;
}
.img3{
    width: 430;
    height: auto;
    margin: 40 0 0 -26.5;
}

#contents_origem{
    float: left;
    background-color: #28143E;
    border-radius: 5px;
    width: 950px;
    height: 590;
    margin: 50 0 0 50;
    text-indent: 40px;
   padding: 40 0 0 0;
    
}


.eyes{
    background-repeat: repeat;
    background-size: 25%;
}
